[submodule "fsst"]
	path = fsst
	url = git@github.com:alexandervanrenen/fsst.git
[submodule "perfevent"]
	path = perfevent
	url = git@github.com:viktorleis/perfevent.git
[submodule "simde"]
	path = simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "third-party/token-vldb2026"]
	path = third-party/token-vldb2026
	url = git@github.com:stoianmihail/token-vldb2026.git
